* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-size: 12px;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

section.inicio {
    text-align: center;
}

.logo 
{
  width: 30%;
  margin-left: 30%;
  padding: 15px;
 }


.searchbar {
    color: #666;
    text-align: center;
   }


.banner {
background-image: url ('/img/img-home-banner.jpg') ;
box-sizing: border-box;
width: 100%;
}

h4 {
    text-align: center;
    font-size: 24px;
}
h3 {text-align: center;}

a {
    text-decoration: none;
    color: black;
}

.burguer-menu {
    color: white;
    background-color: #1259c3;
    border-style: none;
    border-radius: 25px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}

h3.precio {
    font-size: 18px;
}

h3.description {
    font-size: 16px;
}

.container1 {
      text-align: center;
}

footer {
    text-align: center;
}

div.icon {
    font-size: 2em;
    margin-bottom: 10px;
}

article.product {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
}

@media (min-width: 361px){
    /* Tablets */
    article.product {
               box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
  }


@media (min-width: 769px){
    /* Desktop */
    article.product {
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
}
}

